[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
Flask = "*"
jsonschema = "*"
pika = "*"
prometheus-client = "*"
websockets = "*"

[requires]
python_version = "3.7"

[dev-packages]
black = "==18.9b0"
jedi = "*"
pylint = "*"
rope = "*"
yapf = "*"
autopep8 = "*"
